@font-face {
    font-family: 'metropolis_1920regular';
    src: url('font/metropolis_1920-webfont.eot');
    src: url('font/metropolis_1920-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/metropolis_1920-webfont.woff2') format('woff2'),
         url('font/metropolis_1920-webfont.woff') format('woff'),
         url('font/metropolis_1920-webfont.ttf') format('truetype'),
         url('font/metropolis_1920-webfont.svg#metropolis_1920regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  /*Recommended font size/height by Google for 
    responsize design*/
  font-size: 16px;
  line-height:1.2;
  color:white;

  /* Location of the image */
  background-image: url(name_backdrop.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #320f52;
}

html, body {
  position:relative;
  height:100%;

  /*fallback*/
  height:100vh;
  text-align:center;
  overflow:hidden;
}

#main-wrapper {
  position:absolute;
  top:35%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
}

#main-wrapper > * {
  margin:0 auto;
  font-size: 150%;
  font-family: 'Josefin Slab', serif;
  font-weight:bold;
}

#name {
  font-family: metropolis_1920regular;
  font-size:800%;
  font-weight:normal;
}

#line {
    display: inline-block;
    width: 75px;
    height: 3px;
    -moz-border-radius: 1px / 1px;
    -webkit-border-radius: 1px 1px;
    border-radius: 1px / 1px;
    background: #fff;
    margin: 30px auto;
}

//Use if want to change for mobile screen
/*@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections 
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
}*/