<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	
    <title>Kyle Elmore - Aspiring Freelance Developer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="main.css" type="text/css" rel="stylesheet">
    <link href="index.css" type="text/css" rel="stylesheet">
  </head>
  <body>
  	<div id="container">
  		<header>
		  	<div id="avatar">
		  		<img src="avatar.jpg" />
		  	</div>
		    
		    <h1><a href="http://kelmore5.github.io">Kyle Elmore</a></h1>
		    <h2>Aspiring Freelance Developer</h2>
		</header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#selected-work">Portfolio</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#about-me">About</a></li>
			</ul>
		</nav>

		<div id="divider"></div>
		<h2 class="title" id="selected-work">Selected Work</h2>
		<div id="divider"></div>

		<img class="mockup" src="mockups/coming_soon.png" />
		<img class="mockup" src="mockups/coming_soon.png" />

		<div id="divider"></div>
		<h2 class="title" id="about-me">About Me</h2>
		<div id="divider"></div>

		<div id="about-me-container">
			<div class="left" id="avatar-rect">
				<img src="avatar-rect.jpg" />
			</div>

			<div id="about-me-text">
			<p>Hey, I'm Kyle, and I'm an aspiring freelance mobile developer.</p>
				<p class="font-small">
					I started programming in high school and quickly grew to love
					everything about it. Over the past few years, I've learned at
					least the basics (and usually more) in over 40 different programming 
					languages and worked with a variety of concepts, including scientific
					research, mobile development, and enterprise applications. I've always
					wanted to specialize in mobile development, and this site signifies
					my start to mobile exclusivity. 

					As a freelance developer, I want to build <span class="italics">fast</span>,
					<span class="italics">clean</span>, and <span class="italics">reusable</span>
					applications. In other words, I uphold any app I write to be up to date with
					the latest standards, optimized for performance (ie I write test code for everything I write), and commented so that in the future if you decide to
					(unfortunately) go with someone else, he'll be able to pick up the project,
					no problem.
				</p>
			</div>
		</div>

		<div id="divider"></div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
  </body>
</html>