header h1 {
  padding-top: 5px;
  margin-bottom: 0px;
}

header h1 a {
  text-decoration: none;
  color: #2c2c2c;
}

header h2 {
  font-weight: normal;
  font-size: 1em;
}

nav ul {
  padding: 0 25px;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  list-style: none;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 2px;
}

nav ul li a {
  text-decoration: none;
  border-bottom: none;
  text-transform: uppercase;
  color:#2c2c2c;
}

nav ul li a:visited {
  color:#2c2c2c;
}

nav ul li a:hover {
  color:#369fe4;
}

#about-me-container {
  max-width:800px;
  margin: 0 auto;
  text-align: left;
}

#about-me-text {
  margin-left:150px;
}

#about-me-text .font-small {
  line-height: 20px;
  column-count: 2;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
}